*{
  /* overflow-x: hidden; */
  box-sizing: border-box;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
}

.first{
  
  background-color: rgb(100, 150, 54);
  position: fixed;
}

.second{
  
  border-color: rgb(157, 227, 245);
  box-shadow: 0px 0px 100px 100px rgb(141, 213, 230);
  min-height: 93.7vh !important;
  margin-top: 3rem !important; 
  background-color: rgb(255, 255, 255);
}
.form-content{
  
  /* background-color: cyan; */
  margin: 0px !important;
}

 .main h3 {
  text-shadow: 4px 2px 4px #1eabec !important;
  color: rgb(0, 0, 0);
  font-size: 2.3rem;
  margin-bottom: -20px;

} 


.form-ul {
  overflow-x: hidden;
  font-size: 18px;
  font-weight: 900;
  color: rgb(243, 240, 240);
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: pointer;
}

/* .form-ul li+li {
  padding: 31px 70px !important;
} */


.form-ul li {
  padding: 31px 75.6px !important;
  position: relative;

  display: inline-block;
  vertical-align: top;
}

.form-ul li:hover,
.form-ul li:hover+li:before,
.form-ul li.active,
.form-ul li.active+li:before {
  background: rgb(25, 218, 57);
}

.form-ul li:hover:before,
.form-ul li.active:before {
  background-color: rgb(56, 156, 187);
}

.form-ul li:last-child:after,
.form-ul li+li:before {
  content: '';
  position: absolute;
  top: .5em;
  bottom: 0;
  box-sizing: border-box;
  width: 3em;
  height: 3.2em;
  transform: rotate(30deg) skewy(30deg);
  z-index: 1;
}

.form-ul li+li:before {
  left: -1.5em;
  background-color: rgb(56, 156, 187);
}

.form-ul li:nth-child(3):before {
  left: -1.5em;
  background-color: rgb(14, 177, 218);
}

.form-ul li:nth-child(4):before {
  left: -1.5em;
  background-color: rgb(23, 132, 160);
}

.form-ul li:nth-child(5):before {
  left: -1.5em;
  background-color: rgb(133, 197, 240);
}

.confi:hover {
  background-color: rgb(40, 143, 168);

}

.user {
  background-color: rgb(56, 156, 187);
}

.business {
  background-color: rgb(14, 177, 218);

}

.services {
  background-color: rgb(23, 132, 160);

}

.confirmation {
  background-color: rgb(133, 197, 240);

}

.confi {
  background-color: rgb(173, 229, 247);
  color: black;
}


.form-input-btn {
  padding: 10px 40px;
  color: rgb(3, 3, 3) !important;
  font-size: 20px;
  font-weight: 700;
  background: linear-gradient(to right, #33ccff 0%, #00ffcc 100%);
  border: none;
  border-radius: 25px;

}

.form-input-btn:hover {
  /* background-color: rgb(38, 173, 11) !important; */
  transition: 1s;
  color: rgb(0, 0, 0) !important;

}

.form-input-btn a {
  text-decoration: none;
  color: rgb(0, 0, 0) !important;
}

.form-input-btn a:hover {
  color: rgb(255, 255, 255) !important;

}