.vitals_detail{
  border: 2px solid #008BD0;
  border-radius: 10px;
}
.vitals_detail .row{
  align-items: center;
}
.weight{
  background:linear-gradient(90deg, red 0%, yellow 32%, green 55%, yellow 78%, red 100%) ;
  align-content: stretch;
  height: 25px;
  border-radius: 8px 8px 0 0;
}
.rangeslider{
  background:#e6e6e6;
 }
.rangeslider_weight{
  background: rgb(255, 102, 0);
}
.rangeslider_height{
  background: rgb(111, 0, 255);
}
.rangeslider_temp{
  background: rgb(0, 255, 89);
}
.rangeslider_bmi{
  background: rgb(0, 174, 255);
}
.rangeslider_respiration{
  background: rgb(255, 0, 183);
}
.rangeslider_pulse{
  background: rgb(195, 255, 0);
}
.rangeslider_oxygen{
  background: rgb(0, 255, 247);
}
.rangeslider_sbp{
  background: rgb(90, 25, 154);

}
.rangeslider_dbp{
  background: rgb(0, 155, 154);

}
.rangeslider_hba1c{
  background: rgb(130, 15, 254);

}
.rangeslider_fs{
  background: rgb(130, 110, 3);
}
.rangeslider_pps{
  background: rgb(0, 255, 247);
}
.rangeslider_rbs{
  background: rgb(160, 95, 157);
}
.rangeslider_tc{
  background: rgb(10, 95, 157);
}
.rangeslider_ldl{
  background: rgb(1, 195, 197);
}

.rangeslider_hdl{
  background: rgb(90, 195, 197);
}
.rangeslider_tgl{
  background: rgb(20, 255, 197);
}

/* .temperature  {
  background:linear-gradient(90deg, red 0%, yellow 32%, green 55%, yellow 78%, red 100%) ;
  align-content: stretch;
  height: 25px;
  border-radius: 8px 8px 0 0;
}
.bmi{
  background:linear-gradient(90deg, red 0%, yellow 32%, green 55%, yellow 78%, red 100%) ;
  align-content: stretch;
  height: 25px;
  border-radius: 8px 8px 0 0;
} */
.respiration{
  background:linear-gradient(90deg, red 0%, yellow 32%, green 40%, yellow 68%, red 100%) ;
  align-content: stretch;
  height: 25px;
  border-radius: 8px 8px 0 0;
}
.pulse{
  background:linear-gradient(90deg, red 0%, yellow 22%, green 65%, yellow 68%, red 100%) ;
  align-content: stretch;
  height: 25px;
  border-radius: 8px 8px 0 0;
}
.oxygen{
  background:linear-gradient(90deg, red 0%, yellow 22%, green 35%, yellow 48%, red 100%) ;
  align-content: stretch;
  height: 25px;
  border-radius: 8px 8px 0 0;
}
.rangeslider::after {
  content: '';
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  width: auto;
  height: 100%;

  background: #2F3A40;
  border-radius: 0 8px 0 0;
}

.rangeslider .rangeslider__fill {
  background: transparent;
  flex: 0 0 auto;
}

.rangeslider .rangeslider__handle {
  z-index: 2;
  background: rgb(255, 255, 255);
  box-shadow: none;
  width: 25px;
  height: 25px;
  outline: none;
}

.rangeslider .rangeslider__handle::after {
  display: none;
}

.rangeslider__labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.rangeslider__labels .rangeslider__label-item {
  height: 100%;
  border-left: 2px solid #fff;
  top: 0;
  transform: none;
  
}
