.sidebar {
    background-color: rgba(44, 193, 212, 0.863);
    height: 100vh;  
   
}
.maincontent {
    background-color: rgb(230, 233, 230);
    height: 100vh;
}

.dropend {
    list-style-type: none;
    padding-left: 0;
}
.color{
    color: black;
}

.one{
    margin-top: 6rem;
}
.hov {
    display: inline-block;
    min-width: 100px;
    background-color: rgb(30, 84, 155);
    padding: 15px;
    color: white !important;
    font-size: 1.2rem;
    text-decoration: none !important;
    text-align: center;
    cursor: pointer;
    border: black solid 1px;
  
}

.hov:hover {
    background-color: rgb(60, 216, 13);
    color: black !important;
}

.product {
    transform: translate(70px) translateY(-40px);
    display: none;
    list-style-type: none;
}

.dropend li:nth-child(2):hover .product {
    display: block;
}
 .product li .hov{
    width: 300px;
}
.das-services{
    transform: translate(270px) translateY(-55px);
    list-style-type:none ;
    display: none;
    
}
.product li:nth-child(3):hover .das-services {

    display: block;
}
.two{
    position: absolute;
    transform: translate(270px) translateY(-55px);
    list-style-type:none ;
    display: none;
    
}
.product li:nth-child(2):hover .two {
    display: block;
}