.login{
    border-bottom: 200px;
background-color:#008BD0;
}
svg{
    height: 340px;
}
.formlg{
    width: 550px;
    padding: 60px;
    background-color: white;
   border-radius: 50px;
    border: 2px solid white;
    position: relative; 
   display: inline-block;
}
.input_line{
    border: 1px solid lightskyblue;
    border-radius: 10px;
    padding: 13px;
}
.button{
    border-radius: 30px;
    padding: 12px;
    border: #008BD0;
    background-color: #008BD0;
}
.button:hover{
    border-radius: 30px;
    padding: 12px;
    background-color: #008BD0;
}